# Configuração de Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=sua_senha_aqui
DB_DATABASE=visitors_db
DB_SYNC=1

# Configuração da Aplicação
APP_MESSAGE_PREFIX=Hello
PORT=3000

# Nota: Este é um arquivo de exemplo. Crie um arquivo .env com suas configurações reais.
